<!-- <img [src]= setImage()
     class=""
     style="height: 100%; width: 100%; object-fit: contain"
/>  -->


<div class="row">
    <div >
      <img [src]= setImage()
       class=""
          style="height: 100%; width: 100%; object-fit: contain"
          />
          <br><br>
       <table class="table table-dark table-striped">
         <thead>
           <tr>
             <th scope="col">#</th>
             <th scope="col">Marka</th>
             <th scope="col">Renk</th>
             <th scope="col">Açıklama</th>
             <th scope="col">Günlük Fiyat: </th>
             <th></th>
           </tr>
         </thead>
         <tbody>
           <tr >
             <th scope="row">{{cars.carId}}</th>
             <td>{{cars.brandName}}</td>
             <td>{{cars.colorName}}</td>
             <td>{{cars.description}}</td>
             <td>{{cars.dailyPrice}} ₺</td>
             <td>    
             <div class="d-grid gap-1 col-4 mx-auto">
               <button routerLink="/cars/rental/{{cars.carId}}" class="btn btn-warning" type="button">Kirala</button>
             </div></td>
           </tr>
         </tbody>
       </table>
 
 
     </div>
     </div>
     <br>